<!-- HEADER -->
<% include modules/header %>

<!-- MAIN ROW -->
<div class="row">

    <!-- FEATURED PRODUCT IMAGE COLUMN -->
    <div class="col-lg-5 col-sm-10 mx-auto">
        <div class="row">
            <!-- COLUMN -->
            <div id="featProductImage" class="col">
                <!-- FEATURED IMAGE -->
                <img class="img-fluid rounded dropShadow" src="images/Box.jpg">
            </div>
        </div>
    </div>

    <!-- FEATURED PRODUCT INFO COLUMN -->
    <div class="col-lg-5 col-sm-10 mx-auto">
        <!-- ROW -->
        <div class="row">
            <!-- COLUMN -->
            <div id="jumbotronColumn" class="col">
                <!-- JUMBOTRON FEATURED PRODUCT -->
                <div id="psymJumbo" class="jumbotron">
                    <h1 class="display-4 textShadow">Featured Product</h1>
                    <hr style="border-color: whitesmoke" class="my-4 dropShadow">
                    <p class="textShadow">This is information about the featured product.</p>
                    <a class="btn btn-block greenBtn hvr-grow dropShadow" href="featuredProduct">Learn  More</a>
                </div>
            </div>
        </div>
    </div>
    
</div>


<!-- FOOTER -->
<% include modules/footer %>