<!-- HEADER -->
<% include modules/header %>

<!-- BODY CONTAINER -->
<div class="row">
    <div class="col-lg-6 col-md-6 col-md-10 mx-auto">
        <!-- BACKGROUND CONTAINER -->
        <div id="loginBackground" class="container mx-auto">
            <form id="login" name="new_form">
                <!-- HEADER -->
                <div>
                    <h2 class="form-signin-heading">Log In</h2>
                </div>
                <!-- EMAIL -->
                <div class="form-group">
                    <label class="sr-only" for="emailField">Email</label>
                    <input type="email" class="form-control" id="emailField" placeholder="Email">
                </div>
                <!-- PASSWORD -->
                <div class="form-group">
                    <label class="sr-only" for="passwordField">Password</label>
                    <input type="password" class="form-control" id="passwordField" placeholder="Password">
                </div>
                <!-- SUBMIT -->
                <div class="form-group">
                    <!-- LOG IN BUTTON -->
                    <button class="btn btn-lsm btn-block greenBtn" type="submit">Log In</button>
                    <!-- SIGN UP BUTTON -->
                    <a class="btn btn-block blueBtn" href="signup">Sign up</a>
                    <!-- LOG IN WITH FACEBOOK -->
                    <!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div> -->
                </div>
                <!-- REMEMBER ME CHECKBOX-->
                <div class="checkbox_group_wrap">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="checkBox" value="option"> Remember Me
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- FOOTER -->
<% include modules/footer %>