<!-- HEADER -->
<% include modules/header %>

<!-- LOGIN FORM CONTAINER -->
<form id="loginBackground" class="container dropShadow mx-auto" action="" method="" name="loginForm">

    <!-- HEADER -->
    <div class="form-group">
        <h2>Log In</h2>
    </div>

    <!-- EMAIL -->
    <div class="form-group">
      <label class="sr-only" for="emailField">Email</label>
        <input type="email" class="form-control dropShadow" id="emailField" placeholder="Email" required>
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
        <label class="sr-only" for="passwordField">Password</label>
        <input type="password" class="form-control dropShadow" id="passwordField" placeholder="Password" required>
    </div>

    <!-- LOG IN BUTTON -->
    <div class="form-group">
        <button class="btn btn-md btn-block greenBtn dropShadow" type="submit">Log In</button>
    </div>

    <!-- SIGN UP BUTTON -->
    <a class="btn" href="/signup" id="toSignup">Need an account? Sign Up Here!</a>

    <!-- REMEMBER ME CHECKBOX-->
    <div class="checkbox_group_wrap">
        <label class="checkbox-inline" id="checkbox">
            <input type="checkbox" value="option"> Remember Me
        </label>
    </div> 

</form>

<!-- FOOTER -->
<% include modules/footer %>