<!-- HEADER -->
<% include partials/header %>

<!-- BODY CONTAINER -->
<div id="productsContainer" class="row">
    <!-- COLUMN -->
    <div class="col">

    </div>
</div>

<!-- FOOTER -->
<% include partials/footer %>