<!-- HEADER -->
<% include modules/header %>

<!-- MAIN ROW -->
<div class="row">

    <!-- FILTERS COLUMN -->
    <div class="col-lg-3 col-sm-12 mx-auto">

        <!-- FILTERS CARD -->
        <div id="filters" class="card dropShadow"">
            <div class="card-body">

                <!-- TITLE -->
                <p class="card-title">Shop by Category</p><hr>

                <!-- DYNAMIC CATEGORIES LOADER-->
                <% categories.forEach(function(category){ %>
            
                    <!-- DYNAMIC CATEGORIES -->
                    <div><a href="" id="categoryLink">
                        <%= category.name %>
                    </a></div>

                <% }); %>

            </div>
        </div>

    </div>

    <!-- PRODUCTS COLUMN -->
    <div class="col-lg-9 col-sm-12 mx-auto">

        <!-- FILTER DISPLAY ROW -->
        <div class="row">
            <div class="col">

                <!-- FILTER DISPLAY -->
                <h5 class="textShadow" id="filterDisplay">All Products</h5>

            </div>
        </div>

        <!-- PRODUCT CARDS ROW -->
        <div class="row">

            <!-- DYNAMIC PRODUCT CARDS LOADER -->
            <% products.forEach(function(product){ %>
                <div class="col-lg-3 col-md-6">

                    <!-- DYNAMIC PRODUCT CARDS -->
                    <a href="/product" action="/product" method="get">
                        <div id="productCard" class="card dropShadow hvr-float">

                            <!-- IMAGE -->
                            <img class="card-img-top" src="<%= product.image %>">

                            <!-- BODY -->
                            <div class="card-body">

                                <!-- TITLE -->
                                <p id="cardTitle"><strong><%= product.name %></strong></p>

                                <!-- PRICE -->
                                <p id="cardPrice"><%= product.price %><% product.salePrice %></p>

                            </div>

                        </div>    
                    </a>

                </div>
            <% }); %>

        </div>

    </div>

</div>

<!-- FOOTER -->
<% include modules/footer %>