<!-- HEADER -->
<% include modules/header %>

<!-- SIGN UP FORM CONTAINER -->
<form id="loginBackground" class="container dropShadow mx-auto" action="/signup" method="POST" name="signupForm">

    <!-- HEADER -->
    <div class="form-group">
        <h2>Sign Up</h2>
    </div>
    <!-- NAME -->
    <div class="form-group">
        <label class="sr-only" for="textField">Name</label>
        <input type="text" class="form-control dropShadow" name="nameField" placeholder="Name" required>
    </div>
    <!-- EMAIL -->
    <div class="form-group">
        <label class="sr-only" for="emailField">Email</label>
        <input type="email" class="form-control dropShadow" name="emailField" placeholder="Email" required>
    </div>
    <!-- PASSWORD -->
    <div class="form-group">
        <label class="sr-only" for="passwordField">Password</label>
        <input type="password" class="form-control dropShadow" name="pwField" placeholder="Password" required>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-group">
        <label class="sr-only" for="passwordField">Confirm Password</label>
        <input type="password" class="form-control dropShadow" name="pwcField" placeholder="Confirm Password" required>
    </div>

    <!-- SIGN UP BUTTON -->
    <div class="form-group">
        <button class="btn btn-md btn-block blueBtn dropShadow" type="submit">Sign Up</button>
    </div>

    <!-- BACK TO LOG IN -->
    <a class="btn" href="/login" id="backToLogin">Back to Log In</a>

</form>

<!-- FOOTER -->
<% include modules/footer %>