#featProductImage {
    padding: 0;
    margin-bottom: 25px;
}

#jumbotronColumn {
    margin: 0;
    padding: 0;
}

#psymJumbo {
    padding: 0;
    background: transparent;
    color: whitesmoke;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}