#productsContainer {
    margin: 0 7%;
    padding-top: 30px;
}

#filters {
    margin-bottom: 30px;
    font-family: 'Libre Baskerville', serif;
}

#categoryLink {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

#categoryLink:hover {
    color: darkgray;
    text-decoration: none;
}

#filterDisplay {
    color: whitesmoke;
}

.productCard {
    margin-bottom: 30px;
}

.card-title {
    font-size: 1.25em;
}

.card-price {
    color: rgb(0, 89, 255);
}
  