#productsColumn {
    padding: 0;
}

#filters {
    background: whitesmoke;
    margin-bottom: 30px;
    font-family: 'Libre Baskerville', serif;
}

#categoryLink {
    padding: 0;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

#categoryLink:hover {
    color: darkgray;
    text-decoration: none;
}

#filterDisplay {
    color: whitesmoke;
}

#productCard {
    background: whitesmoke;
    margin-bottom: 30px;
}

#cardTitle {
    color: black;
}

#card-title:hover {
    text-decoration: none;
}

#cardPrice {
    color: rgb(0, 89, 255);
    text-decoration: none;
}
  