body {
    background: rgba(45,45,45,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(45,45,45,1) 0%, rgba(30,30,30,1) 93%, rgba(30,30,30,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(45,45,45,1)), color-stop(93%, rgba(30,30,30,1)), color-stop(100%, rgba(30,30,30,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(45,45,45,1) 0%, rgba(30,30,30,1) 93%, rgba(30,30,30,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(45,45,45,1) 0%, rgba(30,30,30,1) 93%, rgba(30,30,30,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(45,45,45,1) 0%, rgba(30,30,30,1) 93%, rgba(30,30,30,1) 100%);
    background: radial-gradient(ellipse at center, rgba(45,45,45,1) 0%, rgba(30,30,30,1) 93%, rgba(30,30,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#1e1e1e', GradientType=1 );
}

.navbar {
    padding: 10px 8%;
}

.navbar-brand {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 1.5em;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.navbarItem {
    padding: 0;
    margin: 5px 10px;
    border-color: transparent;
    color: black;
    background-color: transparent;
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
}

#cart {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 10px;
    border-color: rgb(92,184,92);
    color: rgb(92,184,92);
    background-color: transparent;
}

#socialBtnBar {
    margin-right: 8%;
    padding: 0 10px;
    padding-top: 15px;
    float: right;
}

#bodyContainer {
    padding: 20px 8%;
    margin-top: 75px;
}